@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: black;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh; /* garante altura mínima de 100% da tela */
}

main {
    flex: 1; /* ocupa todo o espaço restante */
}
/* Fundo de estrelas */
.stars {
    background: url('starwins.png') repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: moveStars 120s linear infinite;
}

/* Header */
header {
    background-color: #C49831;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgb(54, 54, 54);
}

.logotipo { 
  font-size: 28px; font-weight: bold; }
.menu-items {
   display: flex; gap: 20px; }
.cabeçalho-item { 
  text-decoration: none; color: #C49831; transition: color 0.3s; }
.cabeçalho-item:hover {
   color: red; }


/* Palavras e letras */
#palavra {
    font-size: 2rem;
    letter-spacing: 10px;
    margin: 20px 0;
}
.holograma {
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    animation: tremula 1.5s infinite;
}

/* Letras - teclado holográfico */
#letras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}
#letras button {
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #0000ff33;
    color: #00ffff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s;
}
#letras button:hover {
    background: #00ffff33;
    color: #fff;
    transform: scale(1.1);
}

.btn-reload {
    position:center;
    bottom: 10px;
    right: 10px;
    padding: 15px 58px;
    border-radius: 15px;
    background-color: #00ffcc;
    color: #0B0B0B;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
}

.btn-reload:hover {
    background-color:  #ffe81f;
    transform: scale(1.1);
}

/* Tentativas */
.tentativas-texto {
    margin-bottom: 15px;
    font-weight: bold;
}

/* Footer */
footer {
    background: black;
    color: #00ffff;;
    padding: 15px;
    margin-top: 50px;
     text-align: center;           /* centraliza o texto horizontalmente */
    font-size: 0.85rem;           /* fonte menor */
    position: relative;           /* mantém o footer no fluxo normal */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* leve sombra para destaque */
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
    animation: tremula 1.5s infinite;
}


/* Animações */
@keyframes brilho {
    0%, 100% { box-shadow: 0 0 15px #ffe81f,0 0 30px #ffe81f,0 0 60px #ffe81f,0 0 100px #ffe81f; }
    50% { box-shadow: 0 0 25px #ffcc00,0 0 50px #ffcc00,0 0 80px #ffcc00,0 0 120px #ffcc00; }
}

@keyframes moveStars {
    from { background-position: 0 0; } 
    to { background-position: -1000px 1000px; }
}

@keyframes crawl { 0% { transform: rotateX(20deg) translateY(100%); } 100% { transform: rotateX(25deg) translateY(-200%); } }

@keyframes tremula { 0%, 100% { text-shadow: 0 0 10px #00ffff,0 0 20px #00ffff,0 0 40px #00ffff; } 50% { text-shadow: 0 0 20px #00ffff,0 0 40px #00ffff,0 0 60px #00ffff; } }

/* Botão no topo do header */
.btn-top {
    margin-left: 20px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
    align-items: center;
}

.btn-top:hover {
    background-color:#00ffcc;
    color: #000;
    transform: scale(1.05);
}
